 {{#each words}}
 <tr>
<td>
    {{this.word}}
</td>
<td>
    {{this.pronunciation}}
</td>
<td>
    {{this.partospeech}}
</td>
<td>
    {{this.meaning}}
</td>
<td>
    {{this.category}}
</td>
<td>
    {{this.notes}}
</td>
<td>
    {{this.orthography}}
</td>
<td class="inFont">
    {{this.orthography}}
</td>
</tr>